<div class="container">
    <div class="text-center heading-margin">
        <p>&nbsp;</p>
    </div>

    <div class="categoryContainer">
        <ul class="collection">
            <li class="collection-header noBorder">
                <h4>Templates</h4>
            </li>
            <div class="greyBorder">
                {{#each contents}}
                    <li class="collection-item avatar">
                        <span class="title">{{this.contentTemplateID}}</span>
                        <p>{{this.contentType}} <br>
                            {{this.contentCategory}} <br>
                        <div class="side-block">
                            <a href="/content?content={{this.contentTemplateID}}" class="secondary-content"><i
                                    class="material-icons">delete</i></a>
                            <a href="/transferHeaders/{{this.contentTemplateID}}" class="secondary-content"><i
                                    class="material-icons">description</i></a>
                        </div>
                        </p>
                    </li>
                {{/each}}
            </div>
        </ul>
    </div>
</div>