<div class="container">
    <div class="text-center heading-margin">
        <p>&nbsp;</p>
    </div>

    <div class="categoryContainer">
        <ul class="collection">
            <li class="collection-header noBorder">
                <h4>Templates</h4>
            </li>
            <div class="greyBorder">
                {{#each contents}}
                <li class="collection-item">
                   <div>
                       {{this.contentTemplateID}}<a href="/content?content={{this.contentTemplateID}}" class="secondary-content"><i class="material-icons">delete</i><pre></a>
                   </div> 
                   <div>
                       <a href="/getConsent?content={{this.contentTemplateID}}" class="secondary-content"><i class="material-icons">face</i></a>
                   </div>
                   <div>
                       <a href="/edit?content={{this.contentTemplateID}}"
                            class="secondary-content"><i class="material-icons">description</i></a>
                   </div>
                    <p>Type of message: {{this.contentType}} <br>
                        Category of message: {{this.contentCategory}} <br>
                        Text of message: {{this.contentTemplateMsg}}<br>
                    </p>
                </li>
                {{/each}}
            </div>
        </ul>
    </div>
</div>