<script>

    function showEdit(id, contentType) {
        $('#template' + id).addClass('hide');
        $('#editTemplate' + id).removeClass('hide');
        $('#templateTransaction' + id).prop('checked', contentType === 'Transactional');
        $('#templatePromotional' + id).prop('checked', contentType === 'Promotional');
        $('#templateService' + id).prop('checked', contentType === 'Service');
    }

    function closeView(id) {
        $('#template' + id).removeClass('hide');
        $('#editTemplate' + id).addClass('hide');
    }

    function check(id) {
        $('#template' + id).removeClass('hide');
        $('#editTemplate' + id).addClass('hide');
        $('#templateMessage' + id).text($('#editTemplateText' + id).val());

    }
</script>
<div class="container">
    <div class="text-center heading-margin">
        <p>&nbsp;</p>
    </div>

    <div class="categoryContainer">
        <ul class="collapsible">
            {{#each templates}}
                <li>
                    <div class="collapsible-header">
                        {{this.contentTemplateID}}<br/>
                        {{this.contentCategory}}
                    </div>
                    <div class="collapsible-body">
                        <div id="template{{@index}}">
                            <span class="badge hoverable" onclick="showEdit('{{@index}}','{{this.contentType}}')"><i
                                    class="tiny material-icons">edit</i></span>
                            <div id="templateMessage{{@index}}">{{this.contentTemplateMsg}}</div>
                        </div>
                        <div id="editTemplate{{@index}}" class="hide">

                            <textarea rows="4" cols="50" style="height: 6rem"
                                      id="editTemplateText{{@index}}">{{this.contentTemplateMsg}}</textarea>

                            <div class="row">
                                <div class="col s4">
                                    <label>
                                        <input class="with-gap" name="group1" type="radio"
                                               id="templateTransaction{{@index}}"/>
                                        <span style="color: black;">Transactional</span>
                                    </label>
                                </div>
                                <div class="col s4">
                                    <label>
                                        <input class="with-gap" name="group1" type="radio"
                                               id="templatePromotional{{@index}}"/>
                                        <span style="color: black;">Promotional</span>
                                    </label>
                                </div>
                                <div class="col s4">
                                    <label>
                                        <input class="with-gap" name="group1" type="radio"
                                               id="templateService{{@index}}"/>
                                        <span style="color: black;">Service</span>
                                    </label>
                                </div>

                            </div>
                            <div style="clear:both;"></div>
                            <div class="row" style="margin: 0;">
                                <a class="waves-effect waves-light btn" onclick="check('{{@index}}')">update</a>
                                <a class="waves-effect waves-light btn" onclick="closeView('{{@index}}')">cancel</a>
                            </div>
                            <div style="clear:both;"></div>

                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>


</div>

