<div class="container">

    <div class="categoryContainer">
        <h4>Active Complaints where you are TAP</h4>

        <ul class="collection">
            <div class="greyBorder">
                <table style="width:100%">
                    <tr>
                        <th>Complaint ID</th>
                        <th>Complaint status</th>
                        <th>Header</th>
                        <th>View Details</th>
                        <th>Action needed</th>
                        <th>Automation check</th>
                    </tr>
                    {{#each complaints}}
                        <tr>
                            <td>{{this.complaintID}}</td>
                            <td>{{this.uccStatus}}</td>
                            <td>{{this.uccHeader}}</td>
                            <td><a href="/complaintDetails?complaint={{this.complaintID}}" class="secondary-content"><i
                                    class="material-icons">info</i></a></td>
                            <td>
                                {{#if this.confirmCall}}
                                    <a href="/confirmCall?complaint={{this.complaintID}}" class="secondary-content"><i
                                            class="material-icons">description</i></a>

                                {{/if}}
                                {{#if this.confirmScrubbing}}
                                    <a href="/confirmScrubbing?complaint={{this.complaintID}}"
                                       class="secondary-content"><i
                                            class="material-icons">description</i></a>

                                {{/if}}

                                <!--
                                                            <a href="" class="secondary-content"><i class="material-icons">highlight_off</i></a>
                                -->
                            </td>
                            <td><a href="/confirmCall?complaint={{this.complaintID}}" class="secondary-content"><i
                                    class="material-icons">description</i></a></td>
                        </tr>

                    {{/each}}
                </table>
            </div>
        </ul>
    </div>

    <div class="categoryContainer">
        <h4>Active Complaints where you are OAP</h4>

        <ul class="collection">
            <div class="greyBorder">
                <table style="width:100%">
                    <tr>
                        <th>Complaint ID</th>
                        <th>Complaint status</th>
                        <th>Header</th>
                        <th>View Details</th>
                        <th>Action needed</th>
                        <th>Automation check</th>
                    </tr>
                    {{#each complaints1}}
                        <tr>
                            <td>{{this.complaintID}}</td>
                            <td>{{this.uccStatus}}</td>
                            <td>{{this.uccHeader}}</td>
                            <td><a href="/complaintDetails?complaint={{this.complaintID}}" class="secondary-content"><i
                                    class="material-icons">info</i></a></td>
                            <td>
                                {{#if this.confirmCall}}
                                    <a href="/confirmCall?complaint={{this.complaintID}}" class="secondary-content"><i
                                            class="material-icons">description</i></a>
                                {{/if}}
                                {{#if this.confirmScrubbing}}
                                    <a href="/confirmScrubbing?complaint={{this.complaintID}}"
                                       class="secondary-content"><i
                                            class="material-icons">description</i></a>
                                {{/if}}

                                <!--
                                                            <a href="" class="secondary-content"><i class="material-icons">highlight_off</i></a>
                                -->
                            </td>
                            <td><a href="/confirmCall?complaint={{this.complaintID}}" class="secondary-content"><i
                                    class="material-icons">description</i></a></td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </ul>
    </div>
</div>